{% load ancestor %}

<div id="navigation-container">
  {# The nav-menubar is used on mobile to expand the nav options #}
  <div id="nav-menubar">
    <div class="nav-menubar-content">
      Menu
      <div class="nav-menubar-icon">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>

  <nav>
    {% spaceless %}
    <ul>
      <li>
        {% url 'about' as about_url %}
        {% url 'contact' as contact_url %}
        {% url 'eligibility' as eligibility_url %}
        {% url 'project-reports:list' as proj_reports_url %}
        <a href="{{ about_url }}" class="{% ancestor about_url %} {% ancestor proj_reports_url %}">About</a>
        <ul>
          <li><a href="{{ contact_url }}" class="{% ancestor contact_url %}">Contact Us</a></li>
          <li><a href="/gallery/">Gallery</a></li>
          <li><a href="{{ eligibility_url }}" class="{% ancestor eligibility_url %}">Eligibility</a></li>
          <li><a href="{{ proj_reports_url }}" class="{% ancestor proj_reports_url %}">Project Reports</a></li>
        </ul>
      </li>

      <li>
        {% url 'officers' as officers_url %}
        {% url 'committees' as committees_url %}
        {% url 'past-presidents:list' as past_pres_url %}
        <a href="{{ officers_url }}" class="{% ancestor officers_url %} {% ancestor past_pres_url %}">People</a>
        <ul>
          <li><a href="{{ officers_url }}" class="{% ancestor officers_url %}">Officers</a></li>
          <li><a href="{{ committees_url }}" class="{% ancestor committees_url %}">Committees</a></li>
          <li><a href="{{ past_pres_url }}" class="{% ancestor past_pres_url %}">Past Presidents</a></li>
        </ul>
      </li>

      <li>
        {% url 'events:list' as events_url %}
        {% url 'events:calendar' as events_cal_url %}
        <a href="{{ events_url }}" class="{% ancestor events_url %}">Events</a>
        <ul>
          <li><a href="{{ events_url }}"{% if request.path == events_url %} class="selected"{% endif %}>Events List</a></li>
          <li><a href="{{ events_cal_url }}" class="{% ancestor events_cal_url %}">Events Calendar</a></li>
          {# TODO <li><a href="">Ad-Hoc Events</a></li> #}
        </ul>
      </li>

      <li>
        {% url 'student-resources' as students_url %}
        {% url 'courses:course-department-list' as courses_url %}
        {% url 'courses:instructor-department-list' as instructors_url %}
        {% url 'exams:review' as exam_review_url %}
        <a href="{{ students_url }}" class="{% ancestor students_url %} {% ancestor courses_url %}">Student Resources</a>
        <ul>
          <li><a href="{{ courses_url }}"{% if request.path == courses_url %} class="selected"{% endif %}>Exams And Course Surveys</a></li>
          <li><a href="{{ instructors_url }}" class="{% ancestor instructors_url %}">Instructor Ratings</a></li>
          {% if perms.exams.change_exam %}
          <li><a href="{{ exam_review_url }}" class="{% ancestor exam_review_url %}">Exam Review</a></li>
          {% endif %}
          {# TODO <li><a href="">Helpdesk</a></li> #}
        </ul>
      </li>

      <li>
        {% url 'industry' as industry_url %}
        {% url 'resumes:list' as resumes_url %}
        <a href="{{ industry_url }}" class="{% ancestor industry_url %}">Industrial Relations</a>
        <ul>
          {# TODO <li><a href="">Company Sponsors</a></li> #}
          {% if perms.resumes.change_resume %}
          <li><a href="{{ resumes_url }}" class="{% ancestor resumes_url %}">Resume Management</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
    {% endspaceless %}
  </nav>
</div>
