<!doctype html>
<html>
  <head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Pioneers in Engineering is a student-run STEM outreach organization based in UC Berkeley. Its main project is to provide a low-cost seven-week robotics competition to underserved schools around the San Francisco Bay Area." />
    <meta name="keywords" content="pioneers in engineering berkeley robotics competition" />
    {% block meta %}{% endblock meta %}
    <title>
      {% block title_wrapper %}
        {% block title %}
          {{ request.current_page.get_title }} &middot; Pioneers in Engineering
        {% endblock title %}
      {% endblock title_wrapper %}
    </title>
    <link href="{% static "css/pie.css" %}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon" />
    {% block link %}{% endblock link %}
    <script src="{% static "js/jquery-1.8.2.min.js" %}"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="topnav">
        <div id="topnavfocus">
          <div id="toplogo">
            <a href="/"><img src="{% static "images/toplogo_full.png" %}" alt="Pioneers in Engineering" /></a>
          </div>
          <ul id="menu">
            <li class="sibling">
            <a href="/about/">About Us</a>
            <ul>
            <li class="">
            <a href="/about/pie-team/">The PiE Team</a>
            </li>
            <li class="">
                <a href="/about/gallery/">Gallery</a>
            </li>
            <li class="">
                <a href="/blog/">Blog</a>
            </li>
                </ul>
            </li>
            <li class="sibling">
                <a href="/programs/">Programs</a>
                <ul>
            <li class="">
                <a href="/programs/robotics-competition/">Robotics Competition</a>
            </li>
            <li class="">
                <a href="/programs/prep/">PiE Prep</a>
            </li>
                </ul>
            </li>
            <li class="sibling">
                <a href="/get-involved/">Get Involved</a>
                <ul>
            <li class="">
                <a href="/get-involved/start-team/">Start a Team</a>
            </li>
            <li class="">
                <a href="/get-involved/join-pie-staff/">Join PiE Staff</a>
            </li>
            <li class="">
                <a href="/get-involved/become-mentor/">Become A Mentor</a>
            </li>
            <li class="">
                <a href="/get-involved/volunteer/">Volunteer</a>
            </li>
                </ul>
            </li>
            <li class="sibling">
                <a href="/support/">Support PiE</a>
                <ul>
            <li class="">
                <a href="/support/sponsors/">List of Sponsors</a>
            </li>
                </ul>
            </li>
          </ul>
        </div>
      </div>
      {% block banner_area %}
      {% endblock banner_area %}
      <div id="contentbox" class="content">
        {% block content_wrapper %}
        {% block content %}{% endblock content %}
        {% endblock content_wrapper %}
      </div>
      <div id="footer">
        <div id="footerfocus">
          <div id="socialmedia">
            <a href="http://youtube.com/user/pierobotics">
              <img src="{% static "images/youtube.png" %}" alt="Subscribe to our YouTube Channel" />
            </a>
            <a href="https://www.facebook.com/pages/Pioneers-in-Engineering/121487711267056">
              <img src="{% static "images/facebook.png" %}" alt="Like us on Facebook" />
            </a>
            <a href="http://twitter.com/PiERobotics">
              <img src="{% static "images/twitter.png" %}" alt="Follow us on Twitter" />
            </a>
            </div>
            {% block footer %}{% endblock %}
            <div id="loginbutton">
            {% comment %}
              {% if request.user.is_authenticated %}
                <p>Logged in as: <strong>{{ request.user }}</strong> |
                <a href="{% url 'auth_logout' %}">Logout</a></p>
              {% else %}
              <a href="{% url 'auth_login' %}">Member Login</a>
              {% endif %}
            {% endcomment %}
            </div>
            <p>Copyright &copy; 2008-{% now "Y" %} Pioneers in Engineering. PiE is a project of <a href="https://tbp.berkeley.edu">Tau Beta Pi, CA-Alpha Chapter</a>.
            <br />Email: <a href="mailto:coordinators@pioneers.berkeley.edu">coordinators@pioneers.berkeley.edu</a></p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35543006-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>
  </body>
</html>
