<!DOCTYPE html>
<html>
  <head>
    {% load static compress sekizai_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {# The page title is read from CMS if available, otherwise the title block can be overridden to provide a page title. #}
      {% with page_title=request.current_page.get_title %}
      {% block title %}{% if page_title %}{{ page_title }}{% endif %}{% endblock title %}
      {% block title_separator %} - {% endblock title_separator %}Tau Beta Pi, California Alpha Chapter
      {% endwith page_title %}
    </title>

    <meta name="description" content="Tau Beta Pi Engineering Honor Society, California Alpha Chapter">
    <meta name="keywords" content="tau beta pi engineering honor society california alpha chapter ca-a ucb berkeley {% block metakeywords %}{% endblock metakeywords %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700" rel="stylesheet" type="text/css">
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'css/style.scss' %}">
    {% endcompress %}
    {% render_block 'css' %}{# CSS for Django-CMS #}
    {% block jquery %}{% include 'jquery.html' %}{% endblock jquery %}
    <script src="{% static 'js/main.js' %}"></script>
    {{ form.media.css }}
    {{ form.media.js }}
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block cms_block %}{% endblock cms_block %}
    {# TODO(sjdemartini): fill in all URLs for links as they are created #}
    <div id="wrapper" class="{% block wrapper_class %}{% endblock wrapper_class %}">
      {% block header %}
      <div id="header">
        <div id="header-focus">
          <div id="login">
            <div id="login-inner">
              {% block login_dropdown %}
              {% if user.is_authenticated %}
              {% with user_profile=user.userprofile %}
              {% with is_officer=user_profile.is_officer %}
              {% with is_member=user_profile.is_member %}
              {% with is_candidate=user_profile.is_candidate %}
              <ul>
                <li id="login-welcome">Welcome, {{ user_profile.preferred_name }}!</li>
                <li>
                  <a href="javascript:void(0)" class="dropdown-title">
                    <i class="icon-user"></i>
                    <span>Profile</span>
                    <i class="icon-sort-down login-arrow"></i>
                  </a>
                  <ul class="dropdown">
                    <div class="dropdown-arrow-border"></div>
                    <div class="dropdown-arrow"></div>
                    <li><a href="{#TODO#}">Edit Your Info</a></li>

                    {# TODO: forwarding email permissions check here #}
                    <li><a href="{#TODO#}">Forwarding Email</a></li>

                    {# Only candidates and members may submit resumes. #}
                    {% if perms.resumes.add_resume %}<li><a href="{% url 'resumes:edit' %}">Edit Resume</a></li>{% endif %}

                    <li><a href="{% url 'accounts:change-password' %}">Change Password</a></li>

                    <li><a href="{% url 'events:individual-attendance' user.get_username %}">Attendance</a></li>
                  </ul>
                </li>
                <li>
                  <a href="javascript:void(0)" class="dropdown-title">
                    <i class="icon-cog"></i>
                    <span>Tools</span>
                    <i class="icon-sort-down login-arrow"></i>
                  </a>
                  <ul class="dropdown">
                    <div class="dropdown-arrow-border"></div>
                    <div class="dropdown-arrow"></div>
                    {% if is_officer %}
                    <li><a href="{#TODO#}">Officer Portal</a></li>
                    <li><a href="{% url 'candidates:list' %}">Candidate Admin</a></li>
                    {% endif %}

                    {% if is_member and not is_officer %}
                    {# Give members access to Minutes via "Tools". Officers have portal. #}
                    <li><a href="{#TODO#}">Meeting Minutes</a></li>
                    {% endif %}

                    {% if is_candidate %}
                    <li><a href="{% url 'candidates:portal' %}">Candidate Portal</a></li>
                    {% endif %}

                    <li><a href="{#TODO#}">Procrastination</a></li>

                    {% if user_profile.is_IT %}
                    {# TODO: create is_IT method somewhere or enforce user permissions another way here #}
                    <li><a href="{#TODO#}">IT Tools</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li>
                  <a href="{% url 'accounts:logout' %}?next={{ request.path }}">
                    <i class="icon-signout"></i>
                    <span>Log Out</span>
                  </a>
                </li>
              </ul>
              {% endwith is_candidate %}
              {% endwith is_member %}
              {% endwith is_officer %}
              {% endwith user_profile %}
              {% else %} {# if not authenticated #}
              <a href="{% url 'accounts:login' %}?next={{ request.path }}">
                <i class="icon-signin"></i>
                Log In
              </a>
              {% endif %}
              {% endblock login_dropdown %}
            </div>
            <div id="login-clear"></div>
          </div><!-- end login -->

          <div id="logo-group">
            <a href="{% url 'home' %}" id="logo-link"><img src="{% static 'images/bent_circle.png' %}" id="logo" alt="Bent Logo">
              <div id="logo-name">Tau Beta Pi</div>
              <div id="logo-location">UC Berkeley</div></a>
            <a href="{% url 'home' %}" id="logo-overlay"></a>
          </div>
        </div><!-- end header-focus -->
      </div><!-- end header -->
      {% endblock header %}

      {% block nav %}{% include 'nav.html' %}{% endblock nav %}
      {% block subheader %}{% endblock subheader %}

      <div id="container">
        <div id="content" style="{% block content_style %}{% endblock content_style %}">
        {% block intro %}{# Used for page headers/titles, etc. #}{% endblock intro %}

        {% block messages %}{% include 'messages.html' %}{% endblock messages %}

        {% block content %}{# Used for the rest of the page content #}{% endblock content %}
        </div>
      </div>
    </div><!-- end wrapper-->

    <div id="footer">
      <div id="footer-focus">
      {% block footer %}
        <div id="socialmedia">
          <a href="https://www.facebook.com/tbpberkeley" title="Facebook" class="sm-facebook">
            <i class="icon-facebook-sign sm-facebook"></i>
          </a>
        </div>
        <div id="copyright">
          <p><a href="{% url 'home' %}">Home</a> | <a href="{#TODO#}">Contact Us</a></p>
          <p>Copyright &copy; 2008-{% now 'Y' %} Tau Beta Pi, California Alpha Chapter</p>
          <p><a href="http://www.tbp.org/">Tau Beta Pi Nationals</a> | <a href="http://coe.berkeley.edu/">College of Engineering</a></p>
        </div>
      {% endblock footer %}
      </div>
    </div>

  {# TODO(sjdemartini): add in js for user notifications #}
  {# TODO(sjdemartini): Google analytics #}

  {% render_block 'js' %}{# JS for Django-CMS #}
  <!--Page finished rendering {% now 'r' %}-->
  </body>
</html>
