<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load compress %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Tau Beta Pi, California Alpha Chapter{% endblock %}</title>
    <meta name="description" content="Tau Beta Pi Engineering Honor Society, California Alpha Chapter">
    <meta name="keywords" content="tau beta pi engineering honor society california alpha chapter ca-a ucb berkeley {% block metakeywords %}{% endblock metakeywords %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,300,400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'css/style.scss' %}">
    {% endcompress %}
    {% block jquery %}{% include 'jquery.html' %}{% endblock jquery %}
    <script src="{% static 'js/main.js' %}"></script>
    {{ form.media.css }}
    {{ form.media.js }}
    {% block head %}{% endblock head %}
  </head>
  <body>
  {# TODO(sjdemartini): fill in all URLs for links as they are created #}
    <div id="wrapper" style="{% block wrapper_style %}{% endblock wrapper_style %}">
      {% block header %}
      <div id="header">
        <div id="header-focus">
          <div id="login">
            <div id="login-inner">
              {% block login_dropdown %}
              {% if user.is_authenticated %}
              {% with is_officer=user.is_tbp_officer %}
              {% with is_member=user.is_tbp_member %}
              {% with is_candidate=user.is_tbp_candidate %}
              <ul>
                <li id="login-welcome">Welcome, {{ user.preferred_name }}!</li>
                <li><a href="javascript:void(0)" class="dropdown-title">Profile</a>
                  <ul class="dropdown">
                    <div class="dropdown-arrow-border"></div>
                    <div class="dropdown-arrow"></div>
                    <li><a href="{#TODO#}">Edit Your Info</a></li>

                    {# TODO: forwarding email permissions check here #}
                    <li><a href="{#TODO#}">Forwarding Email</a></li>

                    {# Only candidates and members may submit resumes. #}
                    {% if is_member or is_candidate %}<li><a href="{#TODO#}">Edit Resume</a></li>{% endif %}

                    <li><a href="{#TODO#}">Change Password</a></li>

                    <li><a href="{#TODO#}">Attendance</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)" class="dropdown-title">Tools</a>
                  <ul class="dropdown">
                    <div class="dropdown-arrow-border"></div>
                    <div class="dropdown-arrow"></div>
                    {% if is_officer %}
                    <li><a href="{#TODO#}">Officer Portal</a></li>
                    <li><a href="{#TODO#}">Candidate Admin</a></li>
                    {% endif %}

                    {% if is_member and not is_officer %}
                    {# Give members access to Minutes via "Tools". Officers have portal. #}
                    <li><a href="{#TODO#}">Meeting Minutes</a></li>
                    {% endif %}

                    {% if is_candidate %}
                    <li><a href="{#TODO#}">Candidate Portal</a></li>
                    {% endif %}

                    <li><a href="{#TODO#}">Procrastination</a></li>

                    {% if user.is_IT %}
                    <li><a href="{#TODO#}">IT Tools</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li><a href="{% url 'accounts:logout' %}?next={{ request.path }}">Log Out</a></li>
              </ul>
              {% endwith is_member %}
              {% endwith is_officer %}
              {% endwith is_candidate %}
              {% else %} {# if not authenticated #}
              <a href="{% url 'accounts:login' %}?next={{ request.path }}">Log In</a>
              {% endif %}
              {% endblock login_dropdown %}
            </div>
            <div id="login-clear"></div>
          </div><!-- end login -->

          <div id="logo-group">
            <a href="{% url 'home' %}" id="logo-link"><img src="{% static 'images/bent_circle.png' %}" id="logo">
              <div id="logo-name">Tau Beta Pi</div>
              <div id="logo-location">UC Berkeley</div></a>
            <a href="{% url 'home' %}" id="logo-overlay"></a>
          </div>
        </div><!-- end header-focus -->
      </div><!-- end header -->
      {% endblock header %}

      {% block nav %}{% include 'nav.html' %}{% endblock nav %}
      {% block subheader %}{% endblock subheader %}

      <div id="container">
        <div id="content" style="{% block content_style %}{% endblock content_style %}">
        {% block intro %}{% endblock intro %}
        {% block messages %}{% include 'messages.html' %}{% endblock messages %}
        {% block content %}{% endblock content %}
        </div>
      </div>

      <div id="push"></div>
    </div><!-- end wrapper-->

    <div id="footer">
      <div id="footer-focus">
      {% block footer %}
        <div id="socialmedia">
          <a href="https://www.facebook.com/tbpberkeley" title="Facebook">
            <img src="{% static 'images/facebook.png' %}" alt="Facebook">
          </a>
        </div>
        <div id="copyright">
          <p><a href="/">Home</a> | <a href="{#TODO#}">Contact Us</a></p>
          <p>Copyright &copy; 2008-{% now 'Y' %} Tau Beta Pi, California Alpha Chapter</p>
          <p><a href="http://www.tbp.org/">Tau Beta Pi Nationals</a> | <a href="http://coe.berkeley.edu/">College of Engineering</a></p>
        </div>
      {% endblock footer %}
      </div>
    </div>

  {# TODO(sjdemartini): add in js for user notifications #}
  {# TODO(sjdemartini): Google analytics? #}
  <!--Page finished rendering {% now 'r' %}-->
  </body>
</html>
