{% comment %}
Include this template into the head to use basic footable responsive design.
footable.sort.js and footable.filter.js must be separately added to the head
for sorting and filtering abilities, respectively.

To create a footable, simply add the "footable" class to any table. See
http://fooplugins.com/footable-demos/ for further documentation.
{% endcomment %}
{% load static %}
<script src="{% static 'footable/js/footable.js' %}" type="text/javascript"></script>
<link href="{% static 'footable/css/footable.core.css' %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
$(function() {
  var table = $('.footable');

  // Set the icon used for toggling the visibility of hidden info:
  table.addClass('toggle-arrow-small toggle-large');

  // Activate the footable
  table.footable({
    // These breakpoints override the default FooTable breakpoints
    // to match the small and medium breakpoints of our css
    breakpoints: {
      phone: 480,
      tablet: 820
    },
    calculateWidthAndHeightOverride: function(table, info) {
      info.width = info.viewportWidth;
      info.height = info.viewportHeight;
      return info;
    }
  });
});
</script>
