      <div id="navigation-container">
        <div id="nav-menubar">
          <a id="nav-menubar-open">
            Menu
            <div class="nav-menubar-icon">
              <div class="nav-menubar-icon-bar"></div>
              <div class="nav-menubar-icon-bar"></div>
              <div class="nav-menubar-icon-bar"></div>
            </div>
          </a>
        </div>

        <div id="nav">
          <ul>
            <li><a href="">About</a>
              <ul>
                <li><a href="">Officers</a></li>
                <li><a href="">Gallery</a></li>
              </ul>
            </li>

            <li><a href="">People</a>
            </li>

            <li><a href="">Events</a>
            </li>

            <li><a href="">Student Resources</a>
            </li>

            <li><a href="">Industrial Relations</a>
            </li>
          </ul>
        </div>
      </div>