{% load menu_tags %}
      <div id="navigation-container">
        <div id="nav-menubar">
          <a id="nav-menubar-open">
            Menu
            <div class="nav-menubar-icon">
              <div class="nav-menubar-icon-bar"></div>
              <div class="nav-menubar-icon-bar"></div>
              <div class="nav-menubar-icon-bar"></div>
            </div>
          </a>
        </div>

        <div id="nav">
          <ul>
            {% show_menu 0 100 100 100 %}
          </ul>
        </div>
      </div>
