{% load static thumbnail %}
<div id="login">
  <ul>
    {% if user.is_authenticated %}
    {% with user_profile=user.userprofile %}
    {% with is_officer=user_profile.is_officer %}
    {% with is_member=user_profile.is_member %}
    {% with is_candidate=user_profile.is_candidate %}
    <li>
      <a href="javascript:void(0)" class="dropdown-title">
        <div class="user-pic">
          {% include 'user_thumbnail.html' %}
        </div>
        <i class="icon-user profile-user-icon"></i>
        <span>{{ user_profile.preferred_name }}</span>
        <i class="icon-sort-down login-arrow"></i>
      </a>
      <ul class="dropdown">
        <li><a href="{% url 'user-profiles:edit' %}">Edit Your Info</a></li>

        {% if perms.resumes.add_resume %}
        <li><a href="{% url 'resumes:edit' %}">Edit Resume</a></li>
        {% endif %}

        <li><a href="{% url 'accounts:password-change' %}">Change Password</a></li>

        <li><a href="{% url 'events:individual-attendance' user.get_username %}">Attendance</a></li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="dropdown-title">
        <i class="icon-cog"></i>
        <span>Tools</span>
        <i class="icon-sort-down login-arrow"></i>
      </a>
      <ul class="dropdown">
        {% if is_officer %}
        <li><a href="{% url 'officer-portal' %}">Officer Portal</a></li>
        {% endif %}

        {% if perms.candidates.change_candidate %}
        <li><a href="{% url 'candidates:list' %}">Candidate Admin</a></li>
        {% endif %}

        {% if is_member and not is_officer %}
        {# Give members access to Minutes via "Tools". Officers have portal. #}
        <li><a href="{% url 'minutes:list' %}">Meeting Minutes</a></li>
        {% endif %}

        {% if is_candidate %}
        <li><a href="{% url 'candidates:portal' %}">Candidate Portal</a></li>
        {% endif %}

        <li><a href="{% url 'procrastination' %}">Procrastination</a></li>

        {% if user.is_staff %}
        <li><a href="{% url 'it-tools' %}">IT Tools</a></li>
        {% endif %}
      </ul>
    </li>
    <li>
      <a href="{% url 'accounts:logout' %}?next={{ request.path }}">
        <i class="icon-signout"></i>
        <span>Log Out</span>
      </a>
    </li>
    {% endwith is_candidate %}
    {% endwith is_member %}
    {% endwith is_officer %}
    {% endwith user_profile %}

    {% else %} {# if not authenticated #}
    <li>
      <a href="{% url 'accounts:login' %}?next={{ request.path }}">
        <i class="icon-signin"></i>
        Log In
      </a>
    </li>
    {% endif %}
  </ul>
</div>
