{% extends 'base.html' %}

{% block intro %}
<h1>
  {% block title %}Edit Exam{% endblock title %}
</h1>
{% endblock intro %}

{% block content %}
{% include 'exams/_exam_display.html' %}

<p>
  <a href="{% url 'exams:download' exam.pk %}" class="btn">
    <i class="fa fa-download"></i> Download</a>
  <a href="{% url 'exams:delete' exam.pk %}" class="btn">
    <i class="fa fa-trash-o"></i> Delete</a>
</p>

{% if flags %}
<h3>Flags for this Exam: {{ flags|length }}</h3>
<ul>
  {% for flag in flags %}
  <li>
    <div>
      <strong>Reason:</strong> {{ flag.reason }} - {{ flag.created }}
    </div>
    {% if flag.resolved %}
    <div>
      <strong>Resolution:</strong> {{ flag.resolution }} - {{ flag.updated }}
    </div>
    {% else %}
    <strong><a href="{% url 'exams:flag-resolve' exam_pk=exam.pk flag_pk=flag.pk %}">Resolve</a></strong>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if permissions %}
<h3>Permissions for this Exam</h3>
<ul>
  {% for permission in permissions %}
  <li>
    <a href="{% url 'courses:edit-instructor' permission.instructor.pk %}"><strong>{{ permission.instructor.full_name }}</strong></a> - Permission allowed: {{ permission.permission_allowed }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<h3>Edit Details</h3>
<form method="post">
  {% csrf_token %}
  {% include '_form.html' %}
  <div>
    <input type="submit" value="Update">
  </div>
</form>

{% comment %}
TODO(ericdwang): address automatic exam download issue with iframe on mobile
devices
{% endcomment %}
<iframe id="exam-preview" src="{% url 'exams:download' exam.pk %}" class="exam-preview">
  <div>Your browser does not support iframes.</div>
</iframe>
{% endblock content %}
