{% extends 'base.html' %}

{% block title %}Edit Exam{% endblock title %}

{% block intro %}
<h1>Edit Exam</h1>
{% endblock intro %}

{% block content %}
{% include 'exams/header.html' %}

<h3>There {{ flags|pluralize:'is,are' }} {{ flags|length }} flag{{ flags|pluralize }} for this exam.</h3>
{% if flags %}
<ul>
  {% for flag in flags %}
  <li>
    <div>
      <strong>Reason:</strong> {{ flag.reason }} - {{ flag.created }}
    </div>
    {% if flag.resolved %}
    <div>
      <strong>Resolution:</strong> {{ flag.resolution }} - {{ flag.updated }}
    </div>
    {% else %}
    <strong><a href="{% url 'exams:flag-resolve' exam_pk=exam.pk flag_pk=flag.pk %}">Resolve</a></strong>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

<h3>There {{ permissions|pluralize:'is,are' }} {{ permissions|length }} permission{{ permissions|pluralize }} for this exam.</h3>
<ul>
  {% for permission in permissions %}
  <li>
    <a href="{% url 'exams:permissions' %}#{{ permission.instructor.pk }}"><strong>{{ permission.instructor }}</strong></a> - Permission allowed: {{ permission.get_permission_allowed_display }}
  </li>
  {% endfor %}
</ul>

<form method="post">
  {% csrf_token %}
  {% include 'form.html' %}
  <div>
    <a href="{% url 'exams:download' exam_pk=exam.pk %}"><strong>Download Exam</strong></a>
  </div>
  <div>
    <input type="submit" value="Update">
  </div>
</form>

<form action="{% url 'exams:delete' exam_pk=exam.pk %}">
  <input type="submit" value="Delete">
</form>

<iframe id="exam-preview" style="width: 100%; height: 500px;" src="{% url 'exams:download' exam_pk=exam.pk %}">
  <div>Your browser does not support iframes.</div>
</iframe>

{% include 'exams/footer.html' %}
{% endblock content %}
