{% comment %}
This template is included in attendance.html for showing a list of people that
are part of the same group.

This template takes in the group_name variable, group_list_id variable
(optional), and the group_users variables, which are used for displaying the
name of the group as a header, for adding an ID to the list of users, and for
listing out the users in that group, respectively.
{% endcomment %}
<div class="attendance-group">
  <h2>{{ group_name }}</h2>
  <ul{% if group_list_id %} id="{{ group_list_id }}"{% endif %}>
    {% for group_user in group_users %}
    <li class="{% if group_user.pk in attendees %}attending{% else %}checkable{% endif %}{% if group_user.pk in signed_up %} signed-up{% endif %}" id="user_{{ group_user.pk }}">
      <div class="avatar">
        {% include '_user_thumbnail.html' with user_profile=group_user.userprofile %}
      </div>
      <div class="user-name">
        {{ group_user.userprofile.get_verbose_full_name }}
        <i class="fa fa-spinner fa-spin loading" style="display: none"></i>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
