{% extends 'events/list_base.html' %}

{% load settings_values %}

{% block head %}
{% include 'footable.html' with include_sort=True include_filter=True %}
<script>
  $(function() {
    $('.clear-filter').click(function(eventObj) {
      $('#events').trigger('footable_clear_filter');
    });
  });
</script>
{% endblock head %}

{% block content %}
{% url 'events:list' as events_list_url %}
<p>
  <strong>
  {% if not is_current or show_all %}
    {# Go to the default events list, which is for the current term #}
    <a href="{{ events_list_url }}">List Current Upcoming Events</a>
  {% else %}
    {# Show all events (from the current term) #}
    <a href="{{ events_list_url }}?show_all=true">List All {{ display_term_name }} Events</a>
  {% endif %}
  | <a href="{% url 'events:calendar' %}">View a Calendar of Events</a>
  </strong>
</p>

{% if events %}
{% settings_assign 'HOSTNAME' as hostname %}
<p>
  Filter events: <input id="filter-input" type="text">
  <a href="javascript:void(0)" class="clear-filter">[clear]</a>
</p>

<table class="footable stylized bordered" data-filter="#filter-input" data-filter-text-only="true" id="events">
  <thead>
    <tr>
      <th style="width:30%">Event Name</th>
      <th data-type="numeric" data-sort-initial="true" style="width:15%">Date</th>
      <th data-sort-ignore="true" style="width:20%">Time</th>
      <th data-hide="phone" data-sort-ignore="true" style="width:15%">Location</th>
      <th data-hide="phone" style="width:10%">Type</th>
      <th data-hide="phone,tablet" style="width:10%">Contact</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    {% with event_type_slug=event.event_type|slugify %}
    <tr class="event-row event-type {{ event_type_slug }}{% if not event.is_upcoming %} past-event{% endif %}">
      <td data-value="{{ event.name|lower }}"><a href="{{ event.get_absolute_url }}"><strong>{{ event.name }}</strong></a><div>{{ event.tagline }}</div></td>
      <td data-value="{{ event.start_datetime|date:'U' }}">{{ event.list_date|safe }}</td>
      <td>{{ event.list_time|safe }}</td>
      <td>{{ event.location }}</td>
      <td class="event-type {{ event_type_slug }}">
        {# TODO(sjdemartini): add link to filter by event type #}
        {{ event.event_type.name }}
      </td>
      <td>
        {% if event.committee.mailing_list %}<a href="mailto:{{ event.committee.mailing_list }}@{{ hostname }}">{% endif %}{{ event.committee.short_name }}{% if event.committee.mailing_list %}</a>{% endif %}
      </td>
    </tr>
    {% endwith event_type_slug %}
    {% endfor %}
  </tbody>
</table>

{% else %}
<p>No events are available.</p>
{% endif %}

{% endblock content %}
