{% comment %}
This template is included in user.html to display each achievement in users'
lists. hidden_from_viewer is defined in user.html as true if the achievement
is secret and not also unlocked by the page viewer.
{% endcomment %}

{% load static %}

<li class="achievement{% if hidden_from_viewer %} hidden{% endif %}">
  <div class="icon">
    <img src="{% get_static_prefix %}{% if hidden_from_viewer %}images/achievements/hidden.jpg{% else %}{% firstof entry.icon "images/missing.jpg" %}{% endif %}"/>
  </div>
  <div class="info">
    {% if hidden_from_viewer %}
    <div class="name">&lt;Secret Achievement&gt;</div>
    <div class="description">This achievement is hidden until unlocked.</div>
    {% elif entry.achievement.privacy != 'private' or user == display_user %}
    <div class="name">{{ entry.achievement.name }}</div>
    <div class="description">{{ entry.achievement.description }}</div>
    {% endif %}
  </div>
  <div class="metadata">
    {% if not hidden_from_viewer and entry not in locked_list %}
    {% if entry.achievement.privacy != 'private' or user == display_user %}
    <div class="type">
      {% if entry.achievement.privacy == 'secret' %}Secret Achievement!
      {% elif entry.achievement.privacy == 'private' %}Private Achievement!
      {% endif %}
    </div>
    <div class="points">
      {{ entry.achievement.points }}
      point{{ entry.achievement.points|pluralize }}
    </div>
    {% endif %}
    {% endif %}
    {% if entry.progress < entry.goal  %}
    <span class="progress-bar-container">
      <span class="progress-bar"
        style="width: {% widthratio entry.progress entry.goal 100 %}%;">
        <span class="progress">
          {{ entry.progress }}/{{ entry.goal }}
        </span>
      </span>
    </span>
    {% endif %}
  </div>
</li>
