{% extends 'base.html' %}

{% block title %}Achievements Leaderboard{% endblock title %}

{% block intro %}<h1>Achievements Leaderboard</h1>{% endblock intro %}

{% block content %}

<ul class="leaderboard">
  {% for entry in leader_list %}
  <li>
    {# Spaceless to fix whitespace issues with inline-block css style #}
    {% spaceless %}
    <div class="name {% cycle 'odd' 'even' %}
      {% if entry.user == user %}self{% endif %}">
        {{ entry.rank }}. <a href="{% url 'achievements:user' entry.user.id %}">{{ entry.user.userprofile.get_common_name }}</a>
    </div>
    <span class="count-container {% cycle 'odd' 'even' %}"
      style="width: {{ entry.factor }}%;">
      <span class="count">{{ entry.user.score }}</span>
    </span>
    {% endspaceless %}
  </li>
  {% empty %}
  <p>Nobody has any achievements yet! :(</p>
  {% endfor %}
</ul>

{% include '_pagination.html' %}

{% endblock content %}
