{% extends 'base.html' %}

{% block title %}Delete Candidate Requirement{% endblock title %}

{% block intro %}
<h1>Delete {{ requirement.get_name }} {{ requirement.get_requirement_type_display}} Requirement</h1>
{% endblock %}

{% block content %}
<p>Are you SURE you want to delete this requirement? THIS ACTION IS NOT REVERSIBLE.</p>

<form method="post">
  {% csrf_token %}
  {% include '_form.html' %}
  <div>
    <input type="submit" value="Delete">
  </div>
</form>

<div>
  <a href="{% url 'candidates:edit-requirements' %}"><strong>Edit requirements instead</strong></a>
</div>
{% endblock content %}
