{% extends 'base.html' %}
{% load template_utils %}

{% block intro %}
<h1>
{% block title %}Candidate Management for {{ candidate.user.userprofile.get_common_name }}{% endblock title %}
</h1>
{% endblock intro %}

{% block content %}
{% with cand_user_profile=candidate.user.userprofile %}
<h2>Photo</h2>
{% if candidate.photo %}
<div>
  <img src="{{ candidate.photo.url }}" alt="{{ cand_user_profile.get_common_name }}" class="candidate-photo">
</div>
{% else %}
No photo uploaded yet.
{% endif %}
<div>
  <a href="{% url 'candidates:photo' candidate.pk %}">Upload photo</a>
</div>

<h2>Candidate Information</h2>
{% with student_info=candidate.user.collegestudentinfo %}
<table class="spaced-out">
  <tr>
    <td><strong>Major</strong></td>
    <td>
      <ul>
      {% for major in student_info.major.all %}
      <li>{{ major }}</li>
      {% empty %}
      <li>Not specified</li>
      {% endfor %}
      </ul>
    </td>
  </tr>
  <tr>
    <td><strong>Phone</strong></td>
    <td>
      <a href="tel:{{ cand_user_profile.cell_phone }}">{{ cand_user_profile.cell_phone }}</a>
      ({% if not cand_user_profile.receive_text %}does not receive{% else %}receives{% endif %} texts)
    </td>
  </tr>
  <tr>
    <td><strong>Email</strong></td>
    <td>
      <a href="mailto:{{ candidate.user.email }}">{{ candidate.user.email }}</a>
    </td>
  </tr>
  <tr>
    <td><strong>University start term</strong></td>
    <td>
      {{ student_info.start_term.verbose_name }}
    </td>
  </tr>
</table>
{% endwith student_info %}

<form method="post" class="form-narrow">
  {% csrf_token %}
  {{ form.management_form }}

  <h2>Event Requirements</h2>
  {% for entry in req_types.event %}
  {% if entry.requirement.get_name != 'Elective' %}
  {% include 'candidates/_individual_progress.html' with entry=entry %}
  <ul>
    {% with event_type=entry.requirement.eventcandidaterequirement.event_type.name %}
    {% for event in attended_events|get_item:event_type %}
    <li><strong>{{ event.name }}</strong></li>
    {% endfor %}
    {% for event in signed_up_events|get_item:event_type %}
    <li>{{ event.name }}</li>
    {% endfor %}
    {% if attended_events|get_item:event_type|length == 0 and signed_up_events|get_item:event_type|length == 0 %}
    No signups or attendance for {{ event_type }} events.
    {% endif %}
    {% endwith %}
  </ul>
  {% else %}
    {% if entry.credits_needed > 0 %}
    {{ entry.form.errors.credits_needed }}
    {{ entry.form.errors.manually_recorded_credits }}
    <h3>Elective</h3>
    <div><strong>[{{ elective_events|length }} / {{ entry.credits_needed }}]</strong> (regular: {{ entry.requirement.credits_needed }})
    <a href="javaScript:void(0);" onclick="$('#{{ entry.requirement.pk }}').slideToggle(200);">[edit]</a></div>
    <div id="{{ entry.requirement.pk }}" style="display:none">
      <strong>
        [{{ elective_events|length }}
        {{ entry.form.manually_recorded_credits.as_hidden }}
        / {{ entry.form.alternate_credits_needed }}]
      </strong>
      <div>
        Comments: {{ entry.form.comments }}
      </div>
    </div>
    <ul>
      {% for event in elective_events %}
      <li><strong>{{ event.name }}</strong> ({{ event.event_type.name }})</li>
      {% empty %}
      No attendance for Elective events. If the candidate attends more than the required number of events in any event category, those additional events will count as Elective events.
      {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
  {% empty %}
  There are no Event requirements.
  {% endfor %}

  <h2>Challenge Requirements</h2>
  {% for entry in req_types.challenge %}
  {% include 'candidates/_individual_progress.html' with entry=entry %}
  {% with challenge_type=entry.requirement.challengecandidaterequirement.challenge_type.name %}
  {% if challenges|get_item:challenge_type %}
  {% include 'candidates/_challenge_table.html' %}
  {% else %}
  No {{ challenge_type }} challenges submitted.
  {% endif %}
  {% endwith challenge_type %}
  {% empty %}
  There are no Challenge requirements.
  {% endfor %}

  <h2>Exam File Requirements</h2>
  {% for entry in req_types.exam %}
  {% include 'candidates/_individual_progress.html' with entry=entry %}

  <h3>Approved Exams Uploaded</h3>
  <ul>
    {% for exam in approved_exams %}
    <li><a href="{% url 'exams:edit' exam.pk %}">{{ exam }}</a></li>
    {% empty %}
    No approved exams uploaded.
    {% endfor %}
  </ul>

  <h3>Uploaded Exams Awaiting Verification</h3>
  <ul>
    {% for exam in unverified_exams %}
    <li><a href="{% url 'exams:edit' exam.pk %}">{{ exam }}</a></li>
    {% empty %}
    No uploaded exams awaiting verification.
    {% endfor %}
  </ul>

  <h3>Blacklisted Exams Uploaded</h3>
  <ul>
    {% for exam in blacklisted_exams %}
    <li><a href="{% url 'exams:edit' exam.pk %}">{{ exam }}</a></li>
    {% empty %}
    No blacklisted exams uploaded.
    {% endfor %}
  </ul>
  <p>Note: uploaded exams from blacklisted professors DO NOT count towards candidate requirements.</p>

  {% empty %}
  There are no Exam File requirements.
  {% endfor %}

  <h2>Resume Requirements</h2>
  {% for entry in req_types.resume %}
  {% include 'candidates/_individual_progress.html' with entry=entry %}
  {% empty %}
  There are no Resume requirements.
  {% endfor %}

  <h2>Manual Requirements</h2>
  {% for entry in req_types.manual %}
  {% include 'candidates/_individual_progress.html' with entry=entry %}
  {% empty %}
  There are no Manual requirements.
  {% endfor %}

  {% if form.total_form_count > 0 %}
  <p>
    <input type="submit" value="Save Changes to Requirements for {{ cand_user_profile.preferred_name }}">
  </p>
  {% endif %}
</form>
{% endwith cand_user_profile %}

<p>
  <a href="{% url 'candidates:list' %}?term={{ candidate.term.get_url_name }}"><strong>Back to {{ candidate.term.verbose_name }} Candidates</strong></a>
</p>
{% endblock content %}

{% block extra_js %}
{% include '_footable.html' %}
{% endblock extra_js %}
