{# This template is included in edit.html to edit an individual progress for a candidate. #}
{{ entry.form.errors.credits_needed }}
{{ entry.form.errors.manually_recorded_credits }}

<h3>{{ entry.requirement.get_name }}</h3>
<div>
  <strong>[{{ entry.completed }} / {{ entry.credits_needed }}]</strong> (regular: {{ entry.requirement.credits_needed }})
  <a href="javaScript:void(0);" onclick="$('#{{ entry.requirement.pk }}').slideToggle(200);">[edit]</a>
</div>

<div id="{{ entry.requirement.pk }}" style="display:none">
  <strong>
    {% if entry.requirement.requirement_type == entry.requirement.MANUAL %}
    [{{ entry.form.manually_recorded_credits }}
    {% else %}
    [{{ entry.completed }}
    {# Hide the manually_recorded_credits field because non manual requirements don't need it. #}
    {{ entry.form.manually_recorded_credits.as_hidden }}
    {% endif %}
    / {{ entry.form.alternate_credits_needed }}]
  </strong>
  <div>
    Comments: {{ entry.form.comments }}
  </div>
</div>
