{% extends 'base.html' %}

{% block intro %}
<h1>
  {% block title %}{{ display_term_name }} Candidates{% endblock title %}
</h1>
{% endblock intro %}

{% block head %}
{% include 'footable.html' %}
{% endblock head %}

{% block content %}
{% include 'term_selection.html' %}

<div>
  <a href="{% url 'candidates:edit-requirements' %}" class="btn">
    <i class="icon-wrench"></i> Edit Requirements
  </a>
  <a href=" {% url 'candidates:challenges' %}" class="btn">
    Candidate Challenges
  </a>
</div>

<div>
  {% if candidates %}
  <p><strong>Number of candidates</strong>: {{ candidates|length }}</p>
  <i class="icon-ok"></i> = receives texts
  <table class="footable bordered">
    <thead>
      <tr>
        <th data-class="expand">Name</th>
        <th data-hide="phone">Picture</th>
        <th data-hide="phone,tablet">Major</th>
        <th>Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    {% for candidate in candidates %}
    <tr>
      {% with student_info=candidate.get_college_student_info %}
      {% with cand_user_profile=candidate.user.userprofile %}
      {% with cand_common_name=cand_user_profile.get_common_name %}
      <td><a href="{% url 'candidates:edit' candidate.pk %}">{{ cand_common_name }}</a></td>
      <td>
        {% if candidate.photo %}
        <a href="{{ candidate.photo.url }}"><img src="{{ candidate.photo.url }}" alt="{{ cand_common_name }}" class="candidate-thumbnail"></a>
        {% else %}
        No photo
        {% endif %}
      </td>
      <td>
        <ul>
        {% for major in student_info.major.all %}
        <li>{{ major }}</li>
        {% empty %}
        <li>Not specified</li>
        {% endfor %}
        </ul>
      </td>
      <td>
        {{ cand_user_profile.cell_phone }}
        {% if cand_user_profile.receive_text %}
        <i class="icon-ok"></i>
        {% endif %}
      </td>
      <td><a href="mailto:{{ candidate.user.email }}">{{ candidate.user.email }}</a></td>
      {% endwith student_info %}
      {% endwith cand_common_name %}
      {% endwith cand_user_profile %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no candidates for {{ display_term }}.</p>
  {% endif %}
</div>

{% endblock content %}
