{% extends 'candidates/base.html' %}
{% load template_utils %}

{% block title %}Candidate Portal | {{ block.super }}{% endblock title %}

{% block intro %}
<h1>Candidate Portal</h1>
{% endblock intro %}

{% block content %}
<h2>Event Requirements</h2>
{% for entry in req_types.event %}
{% include 'candidates/individual_portal_progress.html' with entry=entry%}
<ul>
  {% with event_type=entry.requirement.eventcandidaterequirement.event_type.name %}
  {% for event in events|get_item:event_type %}
  <li>{{ event.name }}</li>
  {% empty %}
  No {{ event_type }} events attended.
  {% endfor %}
  {% endwith %}
</ul>
{% empty %}
There are no Event requirements.
{% endfor %}

<h2>Challenge Requirements</h2>
{% for entry in req_types.challenge %}
{% include 'candidates/individual_portal_progress.html' with entry=entry%}
{% with challenge_type=entry.requirement.challengecandidaterequirement.challenge_type.name %}
{% if challenges|get_item:challenge_type %}
<table>
  <thead>
    <tr>
      <th>Challenge Description</th>
      <th>Officer</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for challenge in challenges|get_item:challenge_type %}
    <tr>
      <td>{{ challenge.description }}</td>
      <td>{{ challenge.verifying_user.get_full_name }}</td>
      <td>{{ challenge.get_verified_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
No {{ challenge_type }} challenges submitted.
{% endif %}
{% endwith %}
{% empty %}
There are no Challenge requirements.
{% endfor %}

<h3>Request Challenges</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

<h2>Exam File Requirements</h2>
{% for entry in req_types.exam %}
{% include 'candidates/individual_portal_progress.html' with entry=entry%}

<h3>Approved Exams Uploaded</h3>
<ul>
  {% for exam in approved_exams %}
  <li>{{ exam }}</li>
  {% empty %}
  No approved exams uploaded.
  {% endfor %}
</ul>

<h3>Uploaded Exams Awaiting Verification</h3>
<ul>
  {% for exam in unverified_exams %}
  <li><a href="{% url 'exams:edit' exam.pk %}">{{ exam }}</a></li>
  {% empty %}
  No uploaded exams awaiting verification.
  {% endfor %}
</ul>
<p>Note: all exams need to be verified by officers to check that they are valid.</p>

<h3>Blacklisted Exams Uploaded</h3>
<ul>
  {% for exam in blacklisted_exams %}
  <li><a href="{% url 'exams:edit' exam.pk %}">{{ exam }}</a></li>
  {% empty %}
  No blacklisted exams uploaded.
  {% endfor %}
</ul>
<p>Note: uploaded exams from blacklisted professors DO NOT count towards candidate requirements.</p>

{% empty %}
There are no Exam File requirements.
{% endfor %}
<p>You can upload exams <a href="{% url 'exams:upload' %}"><strong>here</strong></a>.</p>

<h2>Resume Requirements</h2>
{% for entry in req_types.resume %}
{% include 'candidates/individual_portal_progress.html' with entry=entry%}
{% empty %}
There are no Resume requirements.
{% endfor %}
<p>You can upload your resume <a href="{% url 'resumes:edit' %}"><strong>here</strong></a>.</p>

<h2>Manual Requirements</h2>
{% for entry in req_types.manual %}
{% include 'candidates/individual_portal_progress.html' with entry=entry%}
{% empty %}
There are no Manual requirements.
{% endfor %}

{% endblock content %}
