{% extends 'base.html' %}

{% block title %}Login | {{ block.super }}{% endblock title %}

{% block content %}
{% load settings_values %}
<h1>Log In</h1>

{% if form.errors %}
<div class="error">Invalid username and/or password</div>
{% endif %}

<form method="post" action="{% url 'accounts:login' %}" class="form-narrow">
  {% csrf_token %}
  {% include 'form.html' %}

  <input type="submit" value="Log in" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>Forgot your password? <a href="{#TODO: {% url accounts:password-reset %} #}">Reset it</a>!</p>
{% settings_assign 'IT_ADDRESS' as it_addr %}
<p>Are you a member without an account? Request one by emailing IT at <a href="mailto:{{ it_addr }}">{{ it_addr }}</a>.</p>

{% endblock %}
