{% comment %}
This is not the default password "reset" email. This template is to be used for
emails for newly created accounts where the user is supposed to set their
password for the first time (e.g., for newly-created CompanyRep accounts).
{% endcomment %}
Your account has been created on {{ site_name }}. Your username is "{{ user }}".

To set your password for your new account, please follow the link below:
{{ protocol }}://{{ domain }}{% url 'accounts:password-reset-confirm' uidb64=uid token=token %}
