{% extends 'base.html' %}

{% block intro %}
<h1>
  {% block title %}Reset Password{% endblock title %}
</h1>
{% endblock intro %}

{% block content %}
<p>
Enter your username or the primary email address associated with your account,
and we'll send you an email containing a link to reset your password.
</p>

<form action="{{ request.path }}" method="post" class="form-narrow">
  {% csrf_token %}
  {% include '_form.html' %}
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock content %}
