{% extends 'base.html' %}

{% block intro %}
<h1>
  {% block title %}Edit Your Info{% endblock title %}
</h1>
{% endblock intro %}

{% block content %}
{% comment %}
TODO(sjdemartini): Link to pages for uploading resume and for editing college
student info. Probably want to use some standard side-bar for all of those
pages with links between all of them.
{% endcomment %}

<form method="post">
  {% csrf_token %}
  {% include '_form.html' %}
  <div>
    <input type="submit" value="Save">
  </div>
</form>
{% endblock content %}
