{% extends 'base.html' %}

{% block title %}Create A Poll{% endblock title %}

{% block intro %}<h1>Create A Poll</h1>{% endblock intro %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% include '_form.html' %}
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
{% endblock content %}

{% block extra_js %}
<script>
  var eligible_users_div = $('#id_eligible_users').parent();
  eligible_users_div.hide();

  var eligible_group = $('#id_eligible_group');
  eligible_group.change(function(eventObject) {
    var selectedOption = $(this).find('option:selected');
    if (selectedOption.text() == 'Custom') {
      eligible_users_div.show();
      $('#id_eligible_users_chosen').css('width', '192px');
    } else {
      eligible_users_div.hide();
    }
  });
</script>
{% endblock extra_js %}
