{% extends "exams/base.html" %}
{% block sidebar %}
{% endblock %}

{% block title %}Edit Instructor Permission| {{ block.super }}{% endblock title %}

{% block intro %}<h1>Edit Instructor Permission</h1>{% endblock intro %}

{% block content %}
<h2><a href="{% url 'courses:instructor' inst_pk=permission.instructor.pk %}">{{ permission.instructor }}</a></h2>

<form action="{% url 'exams:permission' permission_pk=permission.pk %}" method="post">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div><input type="submit" value="Submit" /></div>
</form>

{% include "exams/footer.html" %}
{% endblock %}
