{% extends 'base.html' %}

{% load template_utils %}

{% block title %}{{ course.get_display_name }}{% endblock title %}

{% block intro %}
<h1>{{ course.get_display_name }}</h1>
{% if course.title %}<div>{{ course.title }}</div>{% endif %}
{% if course.description %}<div>{{ course.description }}</div>{% endif %}
{% endblock %}

{% block content %}
<h2>Average Course Rating: {{ total_course_ratings_avg }}</h2>
{% for inst in instructors %}
{% with name=inst.full_name %}
<div class="avg-rating">
  <h3><a href="{% url 'courses:instructor' inst_pk=inst.pk %}">{{ name }}</a></h3>
  <div class="rating-number"><strong>Teaching Effectivenss</strong> {{ prof_ratings_avg|get_item:name }}</div>
  <div class="rating-number"><strong>Course Quality</strong> {{ course_ratings_avg|get_item:name }}</div>
</div>
{% endwith %}
{% endfor %}

<h2>Exams</h2>
{% if exams %}
  <table id="exam-table">
    <thead>
      <tr>
        <th>Instructors</th>
        <th>Exam</th>
        <th>Type</th>
        <th>Term</th>
        <th>Year</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      {% for exam in exams %}
      <tr>
        <td>
          {% for instructor in exam.instructors %}
            <a href="{% url 'courses:instructor' inst_pk=instructor.pk %}">{{ instructor.last_name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>{{ exam.get_exam_number_display }}</td>
        <td>{{ exam.get_exam_type_display }}</td>
        <td>{{ exam.term.get_term_display }}</td>
        <td>{{ exam.term.year }}</td>
        <td><a href="{% url 'exams:download' exam_pk=exam.pk %}">Download</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  There are currently no exams for this course.
{% endif %}

<h2>Course Surveys</h2>
{% for survey in surveys %}
  <div class="survey">
    <h3>{{ survey.term.verbose_name }}
    <a href="{% url 'courses:instructor' inst_pk=survey.instructor.pk %}">{{ survey.instructor.full_name }}</a></h3>
    {% if survey.prof_rating %}
    <div class="rating-number"><strong>Instructor Rating</strong> {{ survey.prof_rating }}</div>
    {% endif %}
    {% if survey.course_rating %}
    <div class="rating-number"><strong>Course Rating</strong> {{ survey.course_rating }}</div>
    {% endif %}
    {% if survey.time_commitment %}
    <div class="rating-number"><strong>Workload</strong> {{ survey.time_commitment }}</div>
    {% endif %}
    {% if survey.exam_difficulty %}
    <div class="rating-number"><strong>Exam Difficulty</strong> {{ survey.exam_difficulty }}</div>
    {% endif %}
    {% if survey.hw_difficulty %}
    <div class="rating-number"><strong>Assignment Difficulty</strong> {{ survey.hw_difficulty }}</div>
    {% endif %}
    {% if survey.comments %}
    <p class="rating-comment"><strong>Comments</strong> {{ survey.comments }}</p>
    {% endif %}
  </div>
{% empty %}
There are currently no surveys for this course.
{% endfor %}
{% endblock %}
