{% extends 'courses/base.html' %}

{% block title %}{{ course.abbreviation }} | {{ block.super }}{% endblock title %}

{% block intro %}
{{ block.super }}
<h1>{{ course.abbreviation }}</h1>
{% endblock %}

{% block content %}
<form action method="get">
  <div>
    <input type="text" id="search-dept" name="search-dept" value="Department">
    <input type="text" id="search-course" name="search-course" value="Course">
  </div>
</form>
<h2>Exams</h2>
{% if exams %}
  <table id="exam-table">
    <tr>
      <th>Instructors</th>
      <th>Exam</th>
      <th>Type</th>
      <th>Term</th>
      <th>Year</th>
      <th>Download</th>
    </tr>
    {% for exam in exams %}
      <tr>
        <td>
          {% for instructor in exam.instructors %}
            <a href="{% url 'courses:instructor' inst_pk=instructor.pk %}">{{ instructor.last_name }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>{{ exam.get_exam_number_display }}</td>
        <td>{{ exam.get_exam_type_display }}</td>
        <td>{{ exam.term.get_term_display }}</td>
        <td>{{ exam.term.year }}</td>
        <td><a href="{% url 'exams:download' exam_pk=exam.pk %}">Download</a></td>
      </tr>
    {% endfor %}
  </table>
{% else %}
  There are currently no exams for this course.
{% endif %}
<h2>Course Surveys</h2>
{% if surveys %}
  {% for survey in surveys %}
    <div class="survey">
      <h3>{{ survey.term.verbose_name }} {{ survey.instructor }}</h3>
      <div class="rating-number"><strong>Instructor Rating</strong>{{ survey.prof_rating }}</div>
      <div class="rating-number"><strong>Course Rating</strong>{{ survey.course_raing }}</div>
      <div class="rating-number"><strong>Workload</strong>{{ survey.time_commitment }}</div>
      <div class="rating-number"><strong>Exam Difficulty</strong>{{ survey.exam_difficulty }}</div>
      <div class="rating-number"><strong>Assignment Difficulty</strong>{{ survey.hw_difficulty }}</div>
      <p class="rating-comment"><strong>Comments</strong>{{ survey.comments }}</p>
    </div>
  {% endfor %}
  {% else %}
    There are currently no surveys for this course.
{% endif %}
{% endblock %}
