// _achievements.scss
@import "base";

/* User Achievement List Page */
.achievements-list.locked {
  color: #888;
}

.achievement {
  padding: 0.5%;
  .icon {
    display: inline-block;
    padding: 0 2% 0 0;
    img {
      width: 64px;
      height: 64px;
    }
    @include respond-to(small) {
      display: none;
    }
  }
  .info {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    .name {
      font-weight: bold;
      font-size: 1.1em;
      @include respond-to(small) {
       font-size: 1em;
      }
    }
    .description {
      font-size: 0.9em;
    }
    @include respond-to(small) {
      width: 60%;
    }
  }
  .metadata {
    float: right;
    text-align: center;
    width: 30%;
    vertical-align: top;
    @include respond-to(small) {
      float: none;
      display: inline-block;
      text-align: right;
      .type {
        display: none;
      }
    }
  }
}

/* Achievement Progress Bars */

.progress-bar-container {
  border: 1px solid #000;
  background-color: #aaa;
  width: 100%;
  display: inline-block;
  .progress-bar {
    float: left;
    border-right: 1px solid #888;
    background-color: rgb(95, 230, 20);
    .progress {
      color: #000;
      font-weight: 400;
      @include respond-to(small) {
        display: none;
      }
    }
    @include respond-to(small) {
      height: 1em;
    }
  }
  @include respond-to(small) {
    height: 1em;
    vertical-align: bottom;
  }
}
