// Defines variables and custom mixins. Also imports the compass library.
// Useful to import his file in other scss files.

@import 'compass';

// Variables
// Breakpoint widths:
$break-small: 480px;
$break-small-med: 625px;
$break-medium: 820px;

// Form widths:
$form-label-width: 29%;
$form-sep: 3%;
$form-input-width: (100% - $form-label-width - $form-sep);

// Colors:
$link-blue: #0000ad;
$dark-blue: #3e3e83;
$gold: #c7aa36;
$gray: #808080;
$medium-gray: #ccc;
$light-gray: #eee;
$ultra-light-gray: #fafafa;

$error-bg-color: #fdd;
$error-border-color: #f99;
$error-text-color: #f00;

$success-bg-color: #dfd;
$success-border-color: #5c5;

$info-bg-color: #ffffb2;
$info-border-color: #ffff4d;


// Mixins
@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @if $media == small-med {
    @media only screen and (max-width: $break-small-med) { @content; }
  }
  @else if $media == medium {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == large-only {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }
}

@mixin background-light {
  background: {
    color: $light-gray;
    image: url('../images/gray_light_texture.jpg');
  }
}

@mixin background-gray {
  background: {
    color: $gray;
    image: url('../images/gray_texture.jpg');
  }
}

@mixin absolute-position($left: '', $top: '', $right: '', $bottom: '',
    $width: '', $height: '') {
  position: absolute;
  left: unquote($left);
  top: unquote($top);
  right: unquote($right);
  bottom: unquote($bottom);
  width: unquote($width);
  height: unquote($height);
}

// Mixin for adding an :after element that ensures internal floated elements
// are contained in the height of the element using the mixin. The clear:both
// prevents the height from not including floated elements.
@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
  }
}
