/* _common.scss */
// Defines the styles common to most of the site, like essential layouts,
// typography, forms, navigation styles, and more

@import "base";

/* BASIC STYLING */
html,
body {
  background-color: #fff;
  height: 100%;
}

p {
  line-height: 1.15;
}

a img {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.bulleted,
ul.bulleted li {
  list-style-type: disc;
  margin-left: 15px;
}

body,
div {
  margin: 0;
  padding: 0;
  position: relative;
  // IE fix; also fixes jQuery autocomplete layout issue in which the inserted
  // div's position is absolute
}

// Table styling
.spaced-out {
  th,
  td {
    padding: 5px;
    vertical-align: top;  // Improves image-positioning in tables
  }
}

// Create a table style that matches styles of the rest of the site
.stylized {
  @extend .spaced-out;
  margin: 10px 0;
  width: 100%;

  th,
  td {
    border: 0;
  }

  th {
    border-bottom: 2px solid #666;
    color: #c7aa36;
    font-weight: 600;
    text-align: left;
  }

  td {
    border-bottom: 1px dashed #666;
  }
}

// Bordered table:
.bordered,
.bordered th,
.bordered td {
  border: 1px solid #000;
}

// Make the footable's detail cells not use a solid border
.bordered {
  .footable-row-detail,
  .footable-row-detail-cell {
    border-top: 1px dashed;
  }
}

// Hack to make footable sorting use proper up vs. down arrows (per common
// convention), since footable by default uses up arrow when currently in
// descending order (and down for ascending). They are reversed below.
.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before {
  content: "\e012" !important;
}

.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before {
  content: "\e013" !important;
}


// Input Styling
.btn {
  border: solid 1px #adadad;
  padding: 0.5em;
  display: inline-block;
  border-radius: 0.2em;
  text-decoration: none;
  &:hover {
    background-color: #ebebeb;
    text-decoration: none;
  }
  &:active {
    @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
  }
}

// Form
#content form {
  .form-entry {
    margin: 1em 0;
    padding: 0 0.5em;
    @include clearfix;
    @include respond-to(small-med) {
      margin-top: 1.3em;  // Increase the top margin with narrow viewport
    }

    & > label,
    & > legend {
      width: $form-label-width;
      text-align: right;
      float: left;

      @include respond-to(medium) {
        text-align: left;
      }
      @include respond-to(small-med) {
        width: 100%;
        float: none;
      }
    }

    // Container for input fields and their associated help-text and errors:
    .form-input {
      width: $form-input-width;
      float: right;
      @include respond-to(small-med) {
        width: 100%;
        float: none;
      }

      @include respond-to(small-med) {
        input[type=text],
        input[type=email],
        input[type=url],
        input[type=password],
        input[type=file],
        select,
        textarea {
          width: 100%;
        }
      }

      textarea {
        resize: vertical;
      }

      .help-text,
      .form-errors {
        display: block;
        margin-top: 2px;
        font-size: 0.9em;
      }
    }

    &.form-entry-required > label:after {
      // Append an asterisk after labels for required fields
      content: '*';
      color: #f00;
      font-size: 75%;
      margin-left: 5px;
      position: absolute;
      @include respond-to(large-only) {
        // Since the large viewport has labels right-aligned, the asterisk
        // should be positioned to the top of text, whereas for left-aligned
        // labels, it should just appear at the end of the label.
        top: 2px;
      }
    }

    &.form-entry-error {
      padding: 0.5em;
      background: $error-bg-color;
      @include border-radius(0.3em);
    }
  }

  input[type=submit] {
    margin-left: $form-label-width + $form-sep;
    background-color: #fff;
    @extend .btn;
    @include respond-to(small-med) {
      width: auto;
      margin-left: 0;
    }
  }
}

#content form.form-narrow {
  .form-entry {
    & > label,
    & > legend {
      width: $form-label-width / 2;
      text-align: left;
      @include respond-to(small-med) {
        width: 100%;
      }
    }
    .form-input {
      width: $form-input-width + ($form-label-width / 2);
      @include respond-to(small-med) {
        width: 100%;
      }
    }
    &.form-entry-required label:after {
      // Don't denote required fields, since this form is meant to be simple
      content: '';
    }
  }
  input[type="submit"] {
    margin-left: 0;
  }
}

.form-required-message {
  color: #f00;
  font-size: 90%;
}

#pagination {
  text-align: center;
  font-size: 0.9em;
}

.error,
.errorlist {
  color: $error-text-color;
  font-weight: 400;
}

.message {
  @include border-radius(0.3em);
  color: #000;
  font-weight: 400;
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  &.success {
    background: $success-bg-color;
    border: 1px solid $success-border-color;
  }
  &.error {
    background: $error-bg-color;
    border: 1px solid $error-border-color;
  }
}

/* TYPOGRAPHY */
body {
  font: {
    family: 'Open Sans', Arial, Helvetica, sans-serif;
    weight: 300;
  }
  a {
    color: $color-focus;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.875em;
  color: #3e3e83;
}

h2 {
  font-size: 1.5em;
  color: #c7aa36;
}

h3 {
  font-size: 1.2em;
  color: #666;
}

h4 {
  font-size: 1.05em;
}

.small {
  font-size: .8em;
}

.whiteshadow {
  text-shadow: #fff 1px 1px 1px;
}

pre {
  white-space: pre-wrap;
  font-family: monospace;
}

b,
strong {
  font-weight: 600;
}

label,
dt {
  font-weight: 400;
}

blockquote {
  border-left: 10px solid #ccc;
  margin: {
    left: 20px;
    right: 20px;
  }
  padding-left: 8px;
}

/* BASE LAYOUT */
#header {
  @include background-light;
  margin: auto;

  #header-focus {
    margin: auto;
    max-width: 1000px;
    height: 70px;
  }
}

/* Logo */
#logo-link {
  border: none;
  color: $color-focus;

  #logo {
    @include absolute-position(5px, 5px, $width:60px, $height:60px);
    @include respond-to(medium) {
      @include absolute-position(5px, 35px, $width:30px, $height:30px);
    }
  }

  #logo-name {
    display: inline;
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap;
    @include absolute-position(75px, 5px);
    @include respond-to(medium) {
      @include absolute-position(40px, 27px);
    }
  }

  #logo-location {
    @include absolute-position(78px, 42px);
    font-size: 16px;
    white-space: nowrap;
    display: inline;
    @include respond-to(medium) { display: none; }
  }
}

#logo-overlay {
  z-index: 1;
  @include absolute-position(0, $width: 260px, $height: 65px);
  @include respond-to(medium) {
    @include absolute-position(0, $width: 220px, $height: 65px);
  }
}

/* Login/Options menu */
#login {
  float: right;
  z-index: 100;
  // Raise above logo-group

  #login-inner {
    background-color: #fff;
    border: {
      left: solid #000 1px;
      bottom: solid #000 1px;
      right: solid #000 1px;
    }
    @include border-bottom-radius(.5em);
    font-size: .9em;
    padding: 5px;
    float: right;

    #login-welcome {
      margin-right: 10px;
      @include respond-to(medium) { display: none; }
    }
    @include respond-to(small) {
      span {
        display: none;
      }
    }
  }

  #login-clear {
    clear: both;
  }

  a {
    color: #000;
    &:hover {
      color: #00c;
      text-decoration: none;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    position: relative;
  }

  .login-arrow {
    font-size: 15px;
    position: relative;
    top: -3px;
  }

  .dropdown-title {
    margin-right: 13px;
  }

  ul.dropdown {
    background-color: #fff;
    display: none;
    @include absolute-position($top: 100%, $right: 0);
    margin-top: 10px;
    min-width: 120px;
    max-width: 180px;
    padding: 5px 10px;
    z-index: 100;
    border: 1px solid #000;
    @include border-radius(.3em);
    @include box-shadow(0 0 0.4em rgba(0, 0, 0, 0.3), inset 0 0 0 black);
  }

  .dropdown-arrow {
    border-color: transparent transparent #fff transparent;
    border-style: solid;
    border-width: 9px;
    @include absolute-position($top: -17px, $right: 30px, $width: 0,
      $height: 0);
    @include respond-to(small) {
      right: 15px + 8px;
      // this is the sum of the margin-right and padding-right of
      // .dropdown-title
    }
  }

  .dropdown-arrow-border {
    // border color for arrow
    border-color: transparent transparent #000 transparent;
    border-style: solid;
    border-width: 9px;
    @include absolute-position($top: -18px, $right: 30px, $width: 0,
      $height: 0);
    @include respond-to(small) {
      right: 15px + 8px;
      // this is the sum of the margin-right and padding-right of
      // .dropdown-title
    }
  }

  ul.dropdown li {
    display: block;
    margin: 0;
    padding: 0;

    a {
      display: block;
      margin: 0 -10px;
      // extend to edges of dropdown container
      padding: 3px 10px;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

/* Navigation */
#navigation-container {
  min-height: 48px;
  @include background-gray;
}

#nav-menubar {
  display: none;
  @include respond-to(medium) { display: block; }
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #333;
  padding: 10px 5%;
  font-size: 1.225em;

  #nav-menubar-open {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 125ms ease-in;
    &:hover {
      color: #000;
    }
    .nav-menubar-icon {
      width: 18px;
      height: 14px;
      padding: 7px;
      float: right;
      display: inline-block;
      background: #444;
      @include border-radius(5px);
      transition: all 125ms ease-in;
      cursor: pointer;
      &:hover {
        background: #222;
      }
      .nav-menubar-icon-bar {
        display: block;
        width: 18px;
        height: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        background: white;
      }
    }
  }
}

#nav,
#subnav {
  max-width: none;
  text-align: center;
  li {
    display: inline;
  }
}

#nav {
  display: block;

  @include respond-to(medium) {
    // Initially hide the nav options for narrower viewports. JS will open the
    // nav and close the nav as needed. Hiding the #nav options by default
    // ensures that when the page loads with a narrow viewport, the nav doesn't
    // start open and suddenly collapse when the JS runs.
    display: none;
    height: initial;
    text-align: left;

    .nav-child-arrow-container {
      float: right;
      width: 32px;
      height: 28px;
      display: inline-block;
      background: #444;
      @include border-radius(5px);
      margin: 4px;
      margin-right: 5%;
      z-index: 80;
      cursor: pointer;
      &:hover {
        background: #222;
      }
    }
    .nav-child-arrow {
      border: 10px solid transparent;
      border-top-color: #fff;
      width: 0;
      height: 0;
      margin: 6px;
      margin-top: 10px;
    }
  }

  border: {
    top: 1px solid #f2f2f2;
    bottom: 1px solid #333;
  }

  li {
    position: relative;
    // necessary for submenu positioning
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    @include respond-to(medium) {
      padding: 0;
      top: 0;
    }

    ul {
      @include background-gray;
      display: block;
      top: 100%;
      left: 0;
      z-index: 80;
      @include border-bottom-radius(3px);
      padding: 0;
      margin-top: 11px;
      text-align: left;
      font-size: .85em;
      overflow: hidden;
      opacity: 0;
      height: 0;
      position: absolute;
      transition: all 125ms ease-in;
      border: {
        left: 1px solid #333;
        right: 1px solid #333;
        bottom: 1px solid #333;
      }

      @include respond-to(medium) {
        opacity: 1;
        height: auto;
        position: static;
        margin: 0 5%;
        transition: none;
        @include border-radius(0);
        border: none;
        border-left: 13px solid rgba(0,0,0,0.4);
      }
    }
    li:hover > ul {
      opacity: 1;
      height: auto;
    }
    ul li {
      float: none;
      position: relative;
      display: block;
      top: 100%;
      width: 215px;
      @include respond-to(medium) {
        width: 100%;
        background: rgba(0, 0, 0, 0.28);
        &:hover {
          // Make sure the link hover looks the same as the nav ul li elements
          // by removing the ul ul li background color on hover
          background: none;
        }
      }
    }
  }
  a {
    color: #fff;
    font-size: 1.175em;
    font-weight: 400;
    text-decoration: none;
    transition: all 125ms ease-in;
    &:active, &:hover, .selected {
      color: #000;
      background-color: rgba(255,255,255, 0.2);
      // white transparent overlay
    }
    &.selected {
      font-weight: 600;
    }

    display: inline;
    padding: 10px 27px;
    @include respond-to(medium) {
      display: block;
      padding: 6px 5%;
    }
  }
  ul ul a {
    display: block;
    transition: all 125ms;
  }
  @include respond-to(large-only) {
    .selected > a,
    .ancestor > a {
      color: #000;
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
      // white transparent overlay
      font-weight: 600;
    }
    .selected > ul,
    .ancestor > ul {
      display: none !important;
    }
  }
}

.nav-child-arrow-container {
  // Ensure arrow container hidden. Necessary for cross-browser compatibility.
  // This container is used only for narrow viewports.
  display: none;
}

#subnav {
  background-color: #eee;
  border-bottom: 1px solid gray;
  @include box-shadow(inset 0 0 5px #999);
  a {
    color: #333;
    font-size: 1em;
    padding: 5px 15px;
    &:hover,
    &.selected {
      background-color: #fff;
      color: #000;
      text-decoration: none;
      @include border-radius(.3em);
    }
    &.selected {
      font-weight: 600;
    }
  }
  @include respond-to(large-only) {
    .selected > a,
    .ancestor > a {
       background-color: #fff;
       color: #000;
       text-decoration: none;
       @include border-radius(.3em);
       font-weight: 600;
    }
  }
  @include respond-to(medium) {
    display: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
  }
}

/* Remaining content */
#container {
  margin: 0 auto;
  max-width: 1000px;
}

#content {
  margin: 0 15px;
  @include clearfix;
}

#bubble {
  background-color: #fff;
  margin: 15px;
  overflow: hidden;
  padding: 15px 15px 15px;
  @include border-bottom-radius(1em);
  border: {
    bottom: 1px solid #bbb;
    right: 1px solid #bbb;
    top: 1px solid #ddd;
    left: 1px solid #ddd;
  }
}

// wrapper with :after element used to make footer stick to bottom of window.
// See http://css-tricks.com/snippets/css/sticky-footer/

$footer-height: 5em;
$footer-vertical-pad: 1.667em;
$footer-border-size: 0.08em;
$footer-font-size: 0.8em;
// Calculate the footer total height in ems, considering that a relative font
// size proportionally affects the total height
$footer-total-height: ($footer-font-size / 1em) * (
    $footer-height + 2*$footer-vertical-pad + $footer-border-size);

#wrapper {
  min-height: 100%;
  margin-bottom: -$footer-total-height;
}

#wrapper:after {
  content: '';
  display: block;
  // Leave 2em of extra space just as a spacial buffer above footer. Note that
  // this is done instead of giving the footer a margin-top, since a margin-top
  // on the footer would push the footer below the screen even if the content
  // would otherwise fit within the window.
  height: $footer-total-height + 2em;
}

#footer {
  background-color: #eee;
  border-top: $footer-border-size solid #999;
  color: #666;
  font-size: $footer-font-size;
  height: $footer-height;
  padding: $footer-vertical-pad 0;
  @include box-shadow(inset 0 30px 30px -30px #999);
  a {
    color: #33c;
  }
}

#footer-focus {
  margin: auto;
  max-width: 1000px;
}

#footer p {
  margin: .5em 0;
}

#socialmedia {
  float: right;
  margin: 15px 15px 0;
  z-index: 100;
}

.sm-facebook {
  font-size: 29px;
  color: #4c66a4;
  &:link {
    text-decoration: none;
  }
}

#copyright {
  text-align: left;
  margin: 0 15px;
}
