/* _events.scss */
// Styles for the events app

@import "base";

// Define colors associated with event types, which can be used to consistently
// apply color styling to different events
$event-advising-color: #FFFFFC;
$event-bentpolish-color: #FF99FF;
$event-bigsocial-color: #F59678;
$event-efutures-color: #FFEEAA;
$event-fun-color: #C4FF9C;
$event-general-color: #FFFFFF;
$event-house-color: #9DBB61;
$event-infosession-color: #FFFFFE;
$event-mandatory-color: #00FFFF;
$event-meeting-color: #96DBFF;
$event-prodev-color: #FFCC66;
$event-service-color: #FFFF00;

// Apply a background-color. The shade depends on whether the event has the
// event-row or past-event class (or neither). Useful for making the background
// color for a row in the events table have a lighter (fainter) version of the
// color, or for making past events appear grayed-out.
@mixin event-type-color($color) {
  background-color: $color;
  &.event-row {
    // Mix the $color with #FFF (white) to lighten the color shade
    background-color: mix($color, #FFF, 40%);
  }
  .past-event &,
  &.past-event {
    // Mix the $color with #DDD (gray) to gray out the color
    background-color: mix($color, #DDD, 35%);
  }
}

.event-type {
  // Set the default background color for the event type as white
  @include event-type-color(#FFF);

  &.advising {
    @include event-type-color($event-advising-color);
  }
  &.bent-polishing {
    @include event-type-color($event-bentpolish-color);
  }
  &.big-social {
    @include event-type-color($event-bigsocial-color);
  }
  &.e-futures {
    @include event-type-color($event-efutures-color);
  }
  &.fun {
    @include event-type-color($event-fun-color);
  }
  &.general {
    @include event-type-color($event-general-color);
  }
  &.house {
    @include event-type-color($event-house-color);
  }
  &.infosession {
    @include event-type-color($event-infosession-color);
  }
  &.mandatory {
    @include event-type-color($event-mandatory-color);
  }
  &.professional-development {
    @include event-type-color($event-prodev-color);
  }
  &.community-service {
    @include event-type-color($event-service-color);
  }
}

// Color the entire row for a past event as a light gray
tr.past-event {
  background-color: #FAFAFA;
}

// Calendar display of events
#calendar div {
  position: static;
}
