/* _profiles.scss */
// Styles for user profiles
@import 'base';

.profile-picture {
  float: left;
  margin-bottom: 1em;
  margin-right: 15px;

  img {
    width: 200px;
  }
}

.profile-body {
  clear: left;
}

.profile-entry {
  border-top: 1px solid #aaa;
  clear: left;
}

.profile-summary {
  color: #132988;
}
