/*****  BASIC STYLING  *****/
html,
body {
  background-color: #fff;
  height: 100%;
}

p {
  line-height: 1.15;
}

a img {
  border: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
div {
  margin: 0;
  padding: 0;
  position: relative;
  /* IE fix; also fixes jQuery autocomplete layout issue
  in which the inserted div's position is absolute */
}

table {
  margin: 10px 5%;
  width: 90%;
}

th,
td {
  padding: 5px;
  vertical-align: top; /* fixes images in tables */
}

th {
  border-bottom: 2px solid #666;
  color: #c7aa36;
  font-weight: bold;
  text-align: left;
}

td {
  border-bottom: 1px dashed #666;
}

/* Make tables used to render forms use ordinary width and borders */
form table {
  margin: 10px 0;
  width: auto;
}

form td,
form th {
  border: 0;
}

/*****  TYPOGRAPHY  *****/
body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body a {
  color: #009;
  text-decoration: none;
}

body a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 1.875em;
  color: #3e3e83;
}

h2 {
  font-size: 1.5em;
  color: #c7aa36;
}

h3 {
  font-size: 1.2em;
  color: #666;
}

h4 {
  font-size: 1.05em;
}

.small {
  font-size: .8em;
}

.whiteshadow {
  text-shadow: #fff 1px 1px 1px;
}

pre {
  white-space: pre-wrap;
  font-family: monospace;
}

b,
strong {
  font-weight: bold;
}

label,
dt {
  font-weight: 400;
}

blockquote {
  border-left: 10px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 8px;
}

.errorlist {
  color: #f00;
  font-weight: 400;
}


/*****  BASE LAYOUT  *****/
#header {
  background-color: #eee;
  background-image: url(/static/images/gray_light_texture.jpg);
  margin: auto;
}

#header-focus {
  margin: auto;
  max-width: 1000px;
  height: 70px;
}

#logo {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 60px;
  height: 60px;
}

#logo-name {
  display: inline;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  left: 75px;
  top: 5px;
  white-space: nowrap;
}

#logo-location {
  display: inline;
  position: absolute;
  left: 78px;
  top: 42px;
  font-size: 16px;
  white-space: nowrap;
}

#logo-link {
  border: none;
  color: #3e3e83;
}

#logo-overlay {  /* for making the area all linkable, as if an image */
  position: absolute;
  height: 65px;
  left: 0;
  width: 260px;
  z-index: 1;
}

/* Login/Options menu */
li#login-welcome {
  margin-right: 10px;
}

#login {
  float: right;
  z-index: 100; /* Raise above logo-group */
}

#login-inner {
  background-color: #fff;
  border: solid #000;
  border-width: 0 1px 1px;
  font-size: .9em;
  padding: 5px;
  float: right;
  -moz-border-radius-bottomleft: .5em;
  -moz-border-radius-bottomright: .5em;
  -ms-border-bottom-left-radius: .5em;
  -ms-border-bottom-right-radius: .5em;
  -webkit-border-bottom-left-radius: .5em;
  -webkit-border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

#login-clear {
  clear: both;
}

#login a {
  color: #000;
}

#login a:hover {
  color: #00c;
  text-decoration: none;
}

#login ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#login li {
  display: inline;
  position: relative;
}

#login .dropdown-title {
  background: url(/static/images/arrow.png) no-repeat right center;
  background-size: 10px 6px;
  margin-right: 5px;
  padding-right: 15px;
  cursor: pointer;
}

#login ul.dropdown {
  background-color: #fff;
  display: none;  /* The dropdowns are displayed using JS actions */
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
  min-width: 120px;
  max-width: 180px;
  padding: 5px 10px;
  z-index: 100;
  border: 1px solid #000;
  -moz-border-radius: .3em;
  -ms-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
  -moz-box-shadow: 0 0 .4em rgba(0,0,0,.3), inset 0 0 0 #000;
  -ms-box-shadow: 0 0 .4em rgba(0,0,0,.3), inset 0 0 0 #000;
  -webkit-box-shadow: 0 0 .4em rgba(0,0,0,.3), inset 0 0 0 #000;
  box-shadow: 0 0 .4em rgba(0,0,0,.3), inset 0 0 0 #000;
}

#login .dropdown-arrow {
  border-color: transparent transparent #fff transparent;
  border-style: solid;
  border-width: 9px;
  height: 0;
  width: 0;
  position: absolute;
  top: -17px;
  right: 30px;
}

#login .dropdown-arrow-border {  /* border color for arrow */
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-width: 9px;
  height: 0;
  width: 0;
  position: absolute;
  top: -18px;
  right: 30px;
}

#login ul.dropdown li {
  display: block;
  margin: 0;
  padding: 0;
}

#login ul.dropdown li a {
  display: block;
  margin: 0 -10px;  /* extend to edges of dropdown container */
  padding: 3px 10px;
}

#login ul.dropdown li a:hover {
  background-color: #eee;
}

/* Navigation */
#navigation-container {
  min-height: 48px; /* Quick fix for jumpy page transition */
  background-image: url(/static/images/gray_texture.jpg);
  background-color: gray;
}

#nav,
#subnav {
  max-width: none;
  text-align: center;
}

#nav-menubar {
  display: none;
}

#nav {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #333;
}

#nav ul,
#subnav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

#nav li,
#subnav li {
  display: inline;
}

#nav li {
  position: relative;  /* necessary for submenu positioning */
}

#nav ul ul {
  background-image: url(/static/images/gray_texture.jpg);
  background-color: gray;
  display: block;
  height: 0; /* make the submenu invisible until transition */
  opacity: 0; /* make the submenu invisible until transition */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  -ms-border-bottom-left-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0;
  margin-top: 11px;
  text-align: left;
  font-size: .85em;
  transition: all 125ms ease-in;
  overflow: hidden;
}

#nav ul li:hover > ul {
  opacity: 1;
  height: auto;
}

#nav ul ul li {
  float: none;
  position: relative;
  display: block;
  top: 100%;
  width: 215px;
}

#nav a {
  color: #fff;
  display: inline;
  font-size: 1.175em;
  font-weight: 400;
  padding: 10px 27px;
  transition: all 125ms ease-in;
}

#nav a:active,
#nav a:hover,
#nav a.selected {
  color: #000;
  text-decoration: none;
}

#nav a.selected {
  background-color: rgba(255,255,255,.2);  /* white transparent overlay */
  font-weight: 600;
}

#nav ul ul a {
  display: block;
  transition: all 125ms;
}

.nav-child-arrow-container {
  /* Ensure arrow container hidden. Necessary for cross-browser compatibility.
   * This container is used only for narrow viewports. */
  display: none;
}

#subnav {
  background-color: #eee;
  border-bottom: 1px solid gray;
  -moz-box-shadow: inset 0 0 5px #999;
  -ms-box-shadow: inset 0 0 5px #999;
  -webkit-box-shadow: inset 0 0 5px #999;
  box-shadow: inset 0 0 5px #999;
}

#subnav a {
  color: #333;
  font-size: 1em;
  padding: 5px 15px;
}

#subnav a:hover,
#subnav a.selected {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  -moz-border-radius: .3em;
  -ms-border-radius: .3em;
  -webkit-border-radius: .3em;
  border-radius: .3em;
}

#subnav a.selected {
  font-weight: 600;
}

/* Remaining content */
#container {
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

#content {
  margin: 0 15px;
}

#bubble {
  background-color: #fff;
  margin: 15px;
  overflow: hidden;
  padding: 15px 15px 15px;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  border-bottom: 1px solid #bbb;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #bbb;
}

/* wrapper and push used to make footer stick to bottom of window */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -131px;  /* negative indent footer by its height */
}

#push {
  /* This is NOT the sum of the below because the below has a font size of .75em */
  height: 8.188em;
}

#footer {
  background-color: #eee;
  border-top: 0.083em solid #999;
  color: #666;
  font-size: .75em;
  min-height: 5em;
  margin-top: 2.5em;
  padding: 1.667em 0;
  -moz-box-shadow: inset 0 30px 30px -30px #999;
  -ms-box-shadow: inset 0 30px 30px -30px #999;
  -webkit-box-shadow: inset 0 30px 30px -30px #999;
  box-shadow: inset 0 30px 30px -30px #999;
}

#footer a {
  color: #33c;
}

#footer-focus {
  margin: auto;
  max-width: 1000px;
}

#footer p {
  margin: .5em 0;
}

#socialmedia {
  float: right;
  margin: 15px 15px 0;
  z-index: 100;
}

#copyright {
  text-align: left;
  margin: 0 15px;
}

#pagination {
  text-align: center;
  font-size: 0.9em;
}

/* LEADERBOARDS */

.leaderboard {
  margin: 0 0 25px 0;
}

.leaderboard li {
  clear: both;
  height: 24px;
}

.leaderboard .name {
  float: left;
  width: 25%;
  padding: 0.075em 1%;
  color: #000;
}

.leaderboard .name.self {
  font-weight: bold;
}

.leaderboard .name a {
  color: #000;
}

.leaderboard .name.odd {
  background-color: #aaa;
}

.leaderboard .name.even {
  background-color: #eee;
}

.leaderboard .count {
  float: right;
  padding-right: 0.5em;
}

.leaderboard .count-container {
  float: left;
  color: #fff;
  border-radius: 0 0.5em 0.5em 0;
  padding-bottom: 0.15em;
}

.leaderboard .count-container.odd {
  background-color: #71b7e6;
}

.leaderboard .count-container.even {
  background-color: #9bceed;
}

/*****  MEDIA QUERIES  *****/
@media (max-width: 820px) {

  #logo {
    left: 5px;
    top: 35px;
    width: 30px;
    height: 30px;
  }

  #logo-name {
    font-size: 32px;
    left: 40px;
    top: 27px;
  }

  #logo-location {
    display: none;
  }

  #logo-overlay {
    width: 220px;
  }

  li#login-welcome {
    display: none;
  }

  #nav {
    height: initial;  /* allows dynamic height based on li blocks */
    text-align: left;
  }

  #nav-menubar {
    display: block;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #333;
    padding: 10px 5%;
    font-size: 1.225em;
  }

  #nav-menubar-open {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: all 125ms ease-in;
  }

  #nav-menubar-open:hover {
    color: #000;
  }

  .nav-menubar-icon {
    width: 18px;
    height: 14px;
    padding: 7px;
    float: right;
    display: inline-block;
    background: #444;
    border-radius: 5px;
    transition: all 125ms ease-in;
    cursor: pointer;
  }

  .nav-menubar-icon:hover {
    background: #222;
  }

  .nav-menubar-icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
  }

  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
  }

  #nav a {
    display: block;
    padding: 5px 5%;
  }

  #nav a:active,
  #nav a:hover {
    background-color: rgba(255,255,255,.2);  /* white transparent overlay */
  }

  .nav-child-arrow-container {
    float: right;
    width: 32px;
    height: 28px;
    display: inline-block;
    background: #444;
    border-radius: 5px;
    margin: 4px;
    margin-right: 5%;
    z-index: 100;
    cursor: pointer;
  }

  .nav-child-arrow-container:hover {
    background: #222;
  }

  .nav-child-arrow {
    border: 10px solid transparent;
    border-top-color: #fff;
    width: 0;
    height: 0;
    margin: 6px;
    margin-top: 10px;
  }

  #nav ul ul {
    opacity: 1;
    height: auto;
    position: static;
    margin: 0 5%;
    transition: none;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-left: 13px solid rgba(0,0,0,0.4);
  }

  #nav ul ul li {
    width: 100%;
    background: rgba(0,0,0,.28);
  }

  #nav ul ul li:hover {
    /* Make sure the link hover looks the same as the nav ul li elements by
     * removing the ul ul li background color on hover. */
    background: none;
  }
}

@media (max-width: 480px) {
  /* LEADERBOARD MEDIA QUERIES */

  .leaderboard .name {
    height: auto;
    width: 70%;
  }

  .leaderboard .count-container {
    /* !important is needed to override inline HTML style specifying width */
    width: 25% !important;
  }

}
